.book-details-add-to-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

    .book-details-add-to-basket > img {
        height: 40%;
        width: 40%;
    }

.book-details-price {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.recommended-book {
    height: auto;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

    .recommended-book > a {
        flex-grow: 1;
        text-decoration: none;
        color: black;
    }

.book-cover-recommended {
    width: 90%;
}

.recommended-book-price {
    font-weight: bold;
    font-size: large;
}

.main-recommended-title {
    flex-grow: 1;
    margin-top: 9px;
    font-weight: 600;
}


.main-recommended-box-left-row {
    display: flex;
    flex-direction: row;
}

.box-title {
    margin: 12px 0 0 12px;
}

.book-details-similar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eee;
    margin: 15px 15px 15px 0px;
    height: auto;
    width: 800px;
    border-radius: 5px;
    width: 98.3%;
}

.bookcover {
    height: 330px;
    width: 220px;
    margin: 10px 25px 10px 10px;
}

.book-description {
    margin-top: 25px;
    margin-right: 15px;
}

.book-description, .book-main-info-right, .book-main-info-left {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px 0;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 5px;
}

    .book-description > .dl-horizontal {
        margin: 15px 15px 15px -100px;
    }

.book-main-info-right {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.book-main-info-left {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.book-main-info-details > h2 {
    margin-top: 0;
}

.book-content {
    /*padding-top: 15px;*/
    display: flex;
    flex-direction: row;
}

.book-main-info {
    display: flex;
    flex-direction: column;
    width: 100%
}

.book-main-info-details > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.book-main-info-details {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
