@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container">
    <div class="main-top">
        <div class="menu-left">
            <ul class="menu-left-items">
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Programming</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">History</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Fiction</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Fantasy</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Comics</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Food & Cooking</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Biography</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Religion</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
                <li><h4><a class="menu-left-link-flex-container" href="#"><span class="menu-left-link-flex-text">Science</span><i class="glyphicon glyphicon-chevron-right glyph-menu-left"></i></a></h4></li>
            </ul>
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            This is online bookstore proof of concept created in ASP.NET Core.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            This is online bookstore proof of concept created in ASP.NET Core.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            This is online bookstore proof of concept created in ASP.NET Core.
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="main-recommended">
        <div class="main-recommended-box-left">
            <h3 class="box-title">Recommended</h3>
            <div class="main-recommended-box-left-row">
                <div class="recommended-book">
                    <img class="book-cover-recommended" src="images/BookCovers/aa18da53d1b1f4c45a0aa8dc88b19215.jpg" />
                    <p class="main-recommended-title">Czysta architektura. Struktura i design oprogramowania. Przewodnik dla profesjonalistów.</p>
                    <p class="recommended-book-price">Cena: 79zł</p>
                </div>
                <div class="recommended-book">
                    <img class="book-cover-recommended" src="images/BookCovers/aa18da53d1b1f4c45a0aa8dc88b19215.jpg" />
                    <p class="main-recommended-title">Czysta architektura. Struktura i design oprogramowania.</p>
                    <p class="recommended-book-price">Cena: 79zł</p>
                </div>
                <div class="recommended-book">
                    <img class="book-cover-recommended" src="images/BookCovers/aa18da53d1b1f4c45a0aa8dc88b19215.jpg" />
                    <p class="main-recommended-title">Czysta architektura. Struktura i design oprogramowania.</p>
                    <p class="recommended-book-price">Cena: 79zł</p>
                </div>
                <div class="recommended-book">
                    <img class="book-cover-recommended" src="images/BookCovers/aa18da53d1b1f4c45a0aa8dc88b19215.jpg" />
                    <p class="main-recommended-title">Czysta architektura. Struktura i design oprogramowania.</p>
                    <p class="recommended-book-price">Cena: 79zł</p>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .menu-left-link-flex-container {
        display: flex;
        flex-direction: row;
    }

    .menu-left-link-flex-text{
        flex-grow: 1;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .glyph-menu-left {
        /*margin: 5px 5px 5px 45px;*/

    }

    .main-top {
        display: flex;
        flex-direction: row;
    }

    .menu-left {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
        margin-top: -10px;
    }

    .menu-left-items {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background-color: white;
        list-style-type: none;
        padding: 0;
        margin-bottom: 0px;
        width: 190px;
        border-radius: 0 0 5px 5px;
    }

    .box-title{
        margin: 12px 0 0 12px;
    }

    body > div > div.main-container > div.main-top > div.menu-left > ul > li > h4 {
        margin: 0px 5px 15px 5px;
    }

    div.main-top > div > ul > li > h4 > a:hover{
        text-decoration: none;
    }

    div.main-top > div > ul > li > h4 > a {
        color: black;
    }

    body > div > div.main-container > div.main-top > div.menu-left > ul > li:nth-child(1) > h4 > a{
        padding-top: 5px;
    }

    #myCarousel {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
        width: 800px;
        height: 300px;
        margin-left: 25px;
    }

    .recommended-book-price{
        font-weight: bold;
        font-size: large;
    }

    .main-recommended-title {
        flex-grow: 1;
        margin-top: 9px;
        font-weight:600;
    }

    .main-recommended-box-left {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid #eee;
        margin: 15px 15px 15px 0px;
        height: auto;
        width: 800px;
        border-radius: 5px;
    }

    .main-recommended-box-left-row{
        display: flex;
        flex-direction: row;
    }

    .recommended-book {
        height: auto;
        width: 150px;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .book-cover-recommended {
        width: 90%;
    }


</style>
